.navbar{
    width: 100%;
    min-height: 6vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    transition: all .7s ease-in;
  }
  //IMPORTANT
  .scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
  }
  .logo img{
    height: 5vh;
  }
  .navigation{
      display: flex;
      flex-direction: row;   
      margin-right: 5rem;   
  }

  .Header__Button {
    margin: 0px 5px;
    background-color: white;    
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

